# exclude test files
dummy/Dummy Emulator/usb2snes-testlorom.sfc
dummy/Dummy Emulator/usb2snes-testlorom

# exclude build output
dummy/Dummy Emulator/dummyemulator

# f cmake
**/CMakeFiles
**/CMakeCache.txt
**/cmake_install.cmake
dummy/Dummy Emulator/Makefile

# exclude cache files
*~
.DS_Store
thumbs.db
